/* style.css */
body {
    font-family: Courier New, serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #23a115;
    color: #0a0a0a;
    padding: 1em 0;
    text-align: left;
    text-indent: 20%;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: magenta;
}

main {
    max-width: 800px;
    text-align: left;
    text-indent: 30%;
    margin: auto;
    padding: 20px;
    background: white;
}

footer {
    text-align: center;
    padding: 1em;
    background: #333;
    color: white;
    margin-top: 20px;
}
